<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @carrier.name %>
</p>

<p>
  <b>Active:</b>
  <%= @carrier.active %>
</p>

<p>
  <b>Type:</b>
  <%= @carrier.type %>
</p>


<%= link_to 'Edit', edit_carrier_path(@carrier) %> |
<%= link_to 'Back', carriers_path %>
